[submodule "submodules-1"]
	path = submodules-1
	url = https://github.com/first087/Test-SubProject-1.git
[submodule "submodules-2"]
	path = submodules-2
	url = https://github.com/first087/Test-SubProject-2.git
	branch = bugfix
